.postsContainer {
    width: 700px;
    margin: 0 auto;
    padding: 40px 0;
}

.postsContainer hr {
    border: none;
    height: 1px;
    background: #cccccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

.overflowHidden {
    overflow: hidden;
    height: 100vh;
}

.submitButton {
    margin-top: 20px;
    height: 45px;
    width: 90px;
    cursor: pointer;
    background: rgba(0, 139, 229, 1);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
}

.submitButton:hover {
    background: rgb(0, 113, 185);
}

.postsContainer header {
    display: flex;
    justify-content: space-between;
}

.postsContainer header h1 {
    font-size: 20px;
    font-weight: 700;
}

.postsContainer header button {
    height: 30px;
    width: 125px;
    font-size: 17px;
    border-radius: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    background: #008be5;
    border: none;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.postsContainer header button:hover {
    background: rgb(0, 113, 185);;
}

.responseMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.responseMessage p {
    font-size: 20px;
}